html, body {
  overflow: hidden; }

.main-container {
  max-height: 90vh; }

.cta {
  display: flex;
  justify-content: center; }
  .cta a {
    font-family: "Quicksand", sans-serif; }

.derecha.info-container {
  padding-top: 5em !important; }

.nube-footer {
  position: absolute;
  bottom: 3em;
  text-align: center; }
  .nube-footer h4 {
    font-family: "Quicksand", sans-serif;
    font-size: 1em; }

.info-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/analytics-blue.png");
  background-size: cover; }
  @media (min-width: 200px) and (max-width: 600px) {
    .info-container {
      display: none; } }
  .info-container .logo-container {
    width: 20%;
    margin-top: 5%;
    margin-bottom: 19%; }
  .info-container .feature-container {
    width: 70%; }
    .info-container .feature-container h4 {
      color: #fff;
      text-align: center;
      font-size: 2.5em;
      font-family: "Quicksand", sans-serif;
      margin-top: 40%; }
  .info-container .social-container {
    position: absolute;
    bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 200px) and (max-width: 600px) {
      .info-container .social-container {
        display: none; } }
    .info-container .social-container .icon-container {
      display: flex;
      justify-content: space-around; }
    .info-container .social-container a.fa {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fff;
      outline: none !important;
      background-color: rgba(0, 0, 0, 0);
      font-size: 1.2em;
      color: #fff;
      margin: 0.5em; }
      .info-container .social-container a.fa:hover {
        background-color: #107abf; }

.nube-form-container {
  display: flex;
  padding-top: 5em !important;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .nube-form-container .logo-container {
    width: 40%; }
    @media (min-width: 200px) and (max-width: 600px) {
      .nube-form-container .logo-container {
        width: 60%; } }
  .nube-form-container .nube-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 5%;
    margin-right: 25%;
    padding: 3em 2em 2em 2em; }
    .nube-form-container .nube-form .row {
      width: 100%; }
    .nube-form-container .nube-form .checkbox-container {
      margin-bottom: 2em; }
    .nube-form-container .nube-form .nube-form-button {
      margin-bottom: 3em;
      width: 80%;
      background-color: #107abf; }
    .nube-form-container .nube-form .prefix {
      color: #107abf; }
    .nube-form-container .nube-form input.nube-input {
      color: #107abf;
      font-size: 0.8rem; }
      .nube-form-container .nube-form input.nube-input:focus {
        border-bottom: 1px solid #107abf;
        color: #107abf;
        font-size: 0.8rem; }
        .nube-form-container .nube-form input.nube-input:focus + label {
          color: #107abf;
          font-weight: 700; }
    .nube-form-container .nube-form .nube-check[type="checkbox"] + label:before {
      border: 2px solid #107abf;
      background: transparent; }
    .nube-form-container .nube-form .nube-check[type="checkbox"]:checked + label {
      color: #107abf;
      font-weight: 700; }
      .nube-form-container .nube-form .nube-check[type="checkbox"]:checked + label:before {
        border: 2px solid transparent;
        border-bottom: 2px solid #107abf;
        border-right: 2px solid #107abf;
        background: transparent; }

/*# sourceMappingURL=main.css.map */
